*{
    box-sizing: border-box;
    margin: 0;
}
.App{
    display: block;
    .container{
        display: flex;
        justify-content: space-between;   
    }
}
.Main{
    background-color: chocolate;
    height: 500px;
    width: 80%;
}
